body{
	--e-global-color-primary					: #000000;
	--e-global-color-secondary					: #FBF9F6;
	--e-global-color-text						: #62605D;
	--e-global-color-accent						: #615328;
	--e-global-color-accentsecondary			: #BDAD7B;
	--e-global-color-white						: #FFFFFF;
	--e-global-color-black						: #000000;
	--e-global-color-divider					: #00000014;
	--e-global-color-darkdivider				: #FFFFFF1A;
	--e-global-color-background             	: #F4F0E9;
	--e-global-typography-primary-font-family	: "Space Grotesk", sans-serif;
	--e-global-typography-secondary-font-family	: "Space Grotesk", sans-serif;
	--e-global-typography-text-font-family		: "DM Sans", sans-serif;
	--e-global-typography-accent-font-family    : "DM Sans", sans-serif;
}